
header {
    height: 70px;


        .header {
            
    background-color: #c6ddf1;
    box-shadow: 0px 5px 5px #577897;
           
            position: fixed;
            z-index: 11;
            top: 0;
            left: 0;
            width: 100%;

            .container {

                nav {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    display: flex;

                    & > * {
                        margin-right: 20px;
                    }
                   

                    ul {
                        display: flex;

                        & > * {
                            margin-right: 20px;
                            font-size: 20px;
                            font-weight: 900;
                            color: #053a69;

                            &:hover {
                                color: #055296;
                                cursor: pointer;
                            }
                        }
                    }
                    
                }

            }
        }
    
}